@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lobster', cursive;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px; 
    background: white;
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
    
}

.logo h1{
    color: rgb(42, 219, 198);
    font-size: 34px;
}

.menu{
    flex:70%;
    /* border: 1px solid blue; */
    text-align: right;
    padding: 20px;
}

.menu a{
    color: rgb(42, 219, 198);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color:rgb(181, 183, 183);
    border-top: 4px solid rgb(0, 255, 208);
}
#botao{
    background: rgb(0, 213, 255);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    border:none;
    background: rgb(49, 209, 182); 
}

.header{
    height:600px;
    display:flex;
    flex-flow: row wrap;
    background:gray;
    justify-content: center;
    align-items: center;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid rgb(7, 0, 0);  */
}

.headline h2{
    font-weight: 900;
    font-size: 30px;
    color: rgb(42, 219, 198);
    padding: 0;
    margin: 0;
}

.headline p{
    color: white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lab{
    display: inline-block;
    background: rgb(49, 209, 182); 
    padding: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.lab:hover{
   background: rgb(0, 213, 255);  
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid rgb(219, 34, 34);  */
    text-align: center;
   
}
.explication{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
}
.explication-1 , .explication-2{
    display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(231, 227, 227), rgb(192, 185, 185),rgb(53, 55, 56));
  
}

.input-dilui {
    display: flex;
    justify-content:center;
    align-items: center;
}

.resposta-dilui {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#concent-base, #volume-base, #concent-final,
#concent-A, #volume-A, #concent-B, #volume-B, #concent-f {
    margin-top: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

#concent-base:hover, #volume-base:hover, #concent-final:hover,
#concent-A:hover, #volume-A:hover, #concent-B:hover, #volume-B:hover, #concent-f:hover{
background: rgb(49, 209, 182); 
    transition: 1s;
}

.button{
    margin-top: 40px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: rgb(49, 209, 182); 
    color: white;
    border-radius: 5px;
}

.button:hover{
    background: rgb(0, 229, 255);
    transition: 2s;
    cursor: pointer;
}

.button:active{
    background: rgb(0, 229, 255);
}

#respostaDilui, #respostaDiluiMistura {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,rgb(19, 224, 190),rgb(32, 255, 255),rgb(5, 68, 71));
    text-align: center;
    border-top: 2px solid rgb(1, 6, 7);;

} 
.logo-rodape{
    padding: 100px;

}

.viridian{
    color: white;
    font-size: 34px;

}